// COLORS

:root {
  --body-color: #1d1d25;
  --aside-color: #222229;

  --main-color: #06d293;
  --accent-color: #f6447d;

  --main-text-color: #fff;
  --sub-text-color: #9d9d9d;
}


$wc:	#fff;
$bc:	 #000;


$acf: var(--main-color);
// 35FF31 - 1dbb1d

$acs:#4a2254;

$ac3: #ff6565;

$linkc: #3d3d3d;

$linesColor: #808080;

//TextColor
$ftc: #fff;
$stc: #bbb;


//SideBar Colors
$sbic: #aaa;
$sbbgc: #222229;

// FONTS

$mainFont: 	'Vin Mono Pro'; // Основной шрифт
$addFont: 	'OpinionProCondensed'; // Дополнительный шрифт
$accFont: 	'Vin Mono Pro'; // Акцентный шрифт




$opc: "OpinionProCondensed"; //fw: 100, 700
$opxc: "OpinionProExtraCondensed"; //fw: 100, 400

$robs: "RobotoSlab"; //fw: 300

$dmx: "DecimaMonoX"; //fw: 300, 400

$plm:"IBMPlexMono"; //fw: 100, 300, 400

// @media (min-width: 720px) and (max-width: 9600px)  {}
