// COLORS

$wc:	#fff;
$bc:	 #000;


$acf: #35FF31;
// 35FF31 - 1dbb1d

$acs:#4a2254;

$ac3: #ff6565;

$linkc: #3d3d3d;

//TextColor
$ftc: #fff;
$stc: #bbb;


//SideBar Colors
$sbic: #aaa;
$sbbgc: #222229;

// FONTS

$opc: "OpinionProCondensed";
$opxc: "OpinionProExtraCondensed";

$robs: "RobotoSlab";

$dmx: "Decima Mono X";

// @media (min-width: 720px) and (max-width: 9600px)  {}