.AnimationState-leave-active {
	transition: 0.5s;
}

// ==================================
// slideLeft
//-----------------------------------

.slideLeft {
	animation: slideLeftIn .5s ease-out forwards;
}
.AnimationState-leave-active .slideLeft  {
	animation: slideLeftOut .5s ease-out forwards;
}

@keyframes slideLeftIn {
	from {opacity: 0; transform: translateX(3vw);}
	to {opacity: 1;	transform: translateX(0);}
}
@keyframes slideLeftOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

// ==================================
// slideUp
//-----------------------------------

.slideUp {
	opacity: 0;
	animation: slideUpIn 0.5s ease-out 0.4s forwards;
}
.AnimationState-leave-active .slideUp {
	animation: slideUpOut 0.5s ease-out forwards;
}

@keyframes slideUpIn {
	from{opacity: 0; transform:translateY(3vw)}
	to {opacity: 1; transform:translateY(0)}
}
@keyframes slideUpOut {
	from{opacity: 1; transform:translateY(0)}
	to {opacity: 0; transform:translateY(5vw)}
}

// ==================================

.slideLeftInOut  {
	opacity: 0;
	animation: slideLeftImgIn 0.8s ease-out .6s forwards;
}

.AnimationState-leave-active .slideLeftInOut {
	animation: slideLeftImgOut .5s ease-out forwards;
}

@keyframes slideLeftImgIn {
	from{opacity: 0; transform:translateX(10vw)}
	to {opacity: 1; transform:translateX(0)}
}
@keyframes slideLeftImgOut {
	from{opacity: 1; transform:translateX(0)}
	to {opacity: 0; transform:translateX(3vw)}
}


// ==================================

// .slideLeft-enter-active {
//   transition: all .3s ease;
// }
// .slideLeft-leave-active {
//   transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }
// .slideLeft-enter, .slideLeft-leave-to {
//   transform: translateX(20%);
//   opacity: 0;
// }
