.article {
    .blog_navigation {
        display: none;
        @media (min-width: 720px) {
            display: block;
        }
    }

    &__content {
        //padding: 0 0.75vw;
        flex: 1;
        width: 100%;
        color: var(--main-text-color);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
            flex-direction: row-reverse;
            align-items: flex-start;
        }

        .title {
            font-size: inherit;
        }

        &.slideLeftInOut {
            animation-duration: 0.5s;
            animation-delay: 0.3s;
        }
    }

    &__nav {
        //padding: 20px;
        @media (min-width: 1200px) {
            //padding: 80px;


        }

        @media (min-width: 1920px) {
            width: vw(200);
            //padding: vw(40);
            border-radius: vw(20) 0 0 vw(20);
        }
    }

    &-nav {

        border-radius: 20px 0 0 20px;

        @media (min-width: 1920px) {
            width: vw(200);
            //padding: vw(40);
            border-radius: vw(20) 0 0 vw(20);
        }



        &__list {
            padding: 20px;
            li {
                margin-bottom: 10px;
                @media (min-width: 1920px) {
                    margin-bottom: vw(10);
                }
            }

            .toc2 {
                a {
                    color: var(--yellow);
                }
            }

            .toc3 {
                margin-left: 16px;
                font-size: 14px;
                @media (min-width: 1920px) {
                    margin-left: vw(16);
                    font-size: vw(14);
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .blog_article .blog_navigation {
        display: none;
    }
}

.nuxt-content-container {
    flex: 1;
    padding: 0 60px;
}

.nuxt-content {
    flex: 1;
}

