@import "variables";
@import "fonts";
@import "animation";

* {
	margin: 0;
	padding: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: inherit;
	padding-left: 3vw;
}

header {
	background-image: url(~assets/header_img.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 30px;
	// margin-left: 3%;
	overflow: hidden;
	font-size: 0.75rem;
	@media (min-width: 720px) {
		& {
			font-size: 0.875rem;;
		}
	}
	@media (min-width: 1200px) {
		& {
			font-size: 1rem;;
			padding: 50px;
		}
	}
}

h1 {
	font-family: $opc;
	font-weight: 700;
	letter-spacing:0.1em;
	display: inline-block;
	position: relative;
	padding: 10px 0;
	// border-top: 1px solid #fff;
	// border-bottom: 1px solid #fff;
	&:after, 
	&:before {
		content: '';
		display: block;
		position: relative;
		height: 1px;
		width: auto;
		max-width: 650px;
		background-color: #808080;
		left: 60px;
	}
	&:after {
		top: 15px;
	}
	&:before {
		bottom: 15px;
	}
	span {
		font-family: $opxc;
		font-weight: 100;
	}
}

ul {
	list-style: none;
}

a,
a:active,
a:visited {
	color: $wc;
	text-decoration: none;
}

img {
	max-width: 100%;
}

pre,
code {
	white-space: break-spaces;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: $sbbgc;
  // box-shadow:0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: $acf;
  // box-shadow:0px 1px 1px #fff inset;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}