:root {
    // COLORS
    --withe:#FFF;
    --black: #000;
    --gray: #626262;
    --yellow: #ffef6c;
    --red: #f6447d;
    --green: #01c086;

    --body-color: #fff;
    --aside-color: #192b39;
    --hamburger-color: #aaa;

    --main-color: var(--green);
    --accent-color: var(--red);

    --main-text-color: #262626;
    --sub-text-color: #626262;
    --aside-text-color: #fff;

    // TYPOGRAPHY

    --VinMonoPro: 'Vin Mono Pro';
    --OpinionProCondensed: 'OpinionProCondensed';
    --OpinionProExtraCondensed: 'OpinionProExtraCondensed';

    --main-font: 500 1rem/1.5 var(--VinMonoPro);
    --acc-font: 600 0.75rem/1.5 var(--VinMonoPro);
    --add-font: 500 1rem/1.5 var(--OpinionProCondensed);
    --pheader-font: 400 2rem/1.5 var(--OpinionProExtraCondensed);
}


.dark-mode {
    // COLORS
    --body-color: #1d1d25;
    --aside-color: #222229;

    --main-color: #06d293;
    --accent-color: #f6447d;

    --main-text-color: #fff;
    --sub-text-color: #9d9d9d;
    --aside-text-color: #fff;
    --head-text-color: var(--yellow);

    // TYPOGRAPHY

    --main-font: 300 16px/1.5 var(--VinMonoPro);
    --acc-font: 400 0.75rem/1.5 var(--VinMonoPro);
    --add-font: 300 16px/1.5 var(--OpinionProCondensed);
    --pheader-font: 100 32px/1.5 var(--OpinionProExtraCondensed);

    @media (min-width: 1920px){
        --main-font: 300 0.833vw/1.5 var(--VinMonoPro);
        --acc-font: 400 0.625vw/1.5 var(--VinMonoPro);
        --add-font: 300 0.833vw/1.5 var(--OpinionProCondensed);
        --pheader-font: 100 1.667vw/1.5 var(--OpinionProExtraCondensed);
    }
}
