:root {
    --withe: #FFF;
    --black: #000;
    --light-gray: #9d9d9d;
    --gray: #626262;
    --dark-gray: #262626;
    --yellow: #ffef6c;
    --red: #f6447d;
    --green: #01c086;
    --dark-blue: #192b39;
    --black-blue-gray: #1d1d25;
    --dark-blue-gray: #222229;

    // COLORS

    --body-color: var(--withe);
    --aside-color: var(--dark-blue);
    --hamburger-color: var(--light-gray);

    --main-color: var(--green);
    --accent-color: var(--red);

    --main-text-color: var(--dark-gray);
    --sub-text-color: var(--gray);
    --aside-text-color: var(--withe);

    // TYPOGRAPHY

    --VinMonoPro: 'Vin Mono Pro';
    --OpinionProCondensed: 'OpinionProCondensed';
    --OpinionProExtraCondensed: 'OpinionProExtraCondensed';

    --main-font: 500 1rem/1.5 var(--VinMonoPro);
    --acc-font: 600 0.75rem/1.5 var(--VinMonoPro);
    --add-font: 500 1rem/1.5 var(--OpinionProCondensed);
    --pheader-font: 400 2rem/1.5 var(--OpinionProExtraCondensed);
}


.dark-mode {
    // COLORS
    --body-color: var(--black-blue-gray);
    --aside-color: var(--dark-blue-gray);

    --main-color: var(--green);
    --accent-color: var(--red);

    --main-text-color: var(--withe);
    --sub-text-color: var(--light-gray);
    --aside-text-color: var(--withe);
    --head-text-color: var(--yellow);

    // TYPOGRAPHY

    --main-font: 300 16px/1.5 var(--VinMonoPro);
    --acc-font: 400 0.75rem/1.5 var(--VinMonoPro);
    --add-font: 300 16px/1.5 var(--OpinionProCondensed);
    --pheader-font: 100 32px/1.5 var(--OpinionProExtraCondensed);

    @media (min-width: 1920px){
        --main-font: 300 0.833vw/1.5 var(--VinMonoPro);
        --acc-font: 400 0.625vw/1.5 var(--VinMonoPro);
        --add-font: 300 0.833vw/1.5 var(--OpinionProCondensed);
        --pheader-font: 100 1.667vw/1.5 var(--OpinionProExtraCondensed);
    }
}
